<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="./style.css">

    <title>Ebook</title>
</head>

<body>T
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-wrrap common_top_margin">
                        <h1>eBooks & Whitepapers</h1>
                        <p>Visit our team and say hi at these Cloud Native, Security, Community and Industry Events.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container column_margin">
            <div class="row common-gap-mobile">
                <div class="col-md-6">
                    <div class="e_book__card card-1">
                        <div class="e_book_img">
                            <img src="./img/Mask group.png" alt="">
                        </div>
                        <div class="e_book_text">
                            <h3>Observability from Code to Cloud</h3>
                            <p>In a recent study, 357 DevOps and IT people said that they felt pressure to accelerate
                                their operations—and that their major hurdle was the proliferation of microservices and
                                APIs. About half of study participants reported that an observability platform/service
                                mesh helped them improve security and manage modern apps…while conferring cost savings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="e_book__card card-2">
                        <div class="e_book_img">
                            <img src="./img/Mask group2.png" alt="">
                        </div>
                        <div class="e_book_text">
                            <h3>Observability from Code to Cloud</h3>
                            <p>In a recent study, 357 DevOps and IT people said that they felt pressure to accelerate
                                their operations—and that their major hurdle was the proliferation of microservices and
                                APIs. About half of study participants reported that an observability platform/service
                                mesh helped them improve security and manage modern apps…while conferring cost savings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container column_margin">
            <div class="row common-gap-mobile">
                <div class="col-md-6">
                    <div class="e_book__card card-3">
                        <div class="e_book_img">
                            <img src="./img/Mask group.png" alt="">
                        </div>
                        <div class="e_book_text">
                            <h3>Observability from Code to Cloud</h3>
                            <p>In a recent study, 357 DevOps and IT people said that they felt pressure to accelerate
                                their operations—and that their major hurdle was the proliferation of microservices and
                                APIs. About half of study participants reported that an observability platform/service
                                mesh helped them improve security and manage modern apps…while conferring cost savings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="e_book__card card-4">
                        <div class="e_book_img">
                            <img src="./img/Mask group2.png" alt="">
                        </div>
                        <div class="e_book_text">
                            <h3>Observability from Code to Cloud</h3>
                            <p>In a recent study, 357 DevOps and IT people said that they felt pressure to accelerate
                                their operations—and that their major hurdle was the proliferation of microservices and
                                APIs. About half of study participants reported that an observability platform/service
                                mesh helped them improve security and manage modern apps…while conferring cost savings.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="cursor">

    </div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollToPlugin.min.js"></script>

    <script src="./js/animation.js"></script>
    <script>
        const cursor = document.querySelector('.cursor');
        document.addEventListener('mousemove', (e) => {
            cursor.style.left = e.pageX + 'px';
            cursor.style.top = e.pageY + 'px';
        })

    </script>
</body>

</html>