<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="./style.css">

    <title>videos</title>
</head>

<body>
    <section class="common_top_margin">
        <div class="container">
            <div class="row common-gap-mobile">
                <div class="col-md-6">
                    <div class="hero_animate_left">
                        <h6>upcoming</h6>

                        <h3>Cloud Native Solutions Technical Workshop Series</h3>

                        <p class="p-split_margin">Join our expert solution architects for a free, 1-hour, hands-on
                            workshop to get started
                            using our latest cloud-native products, Panoptica & Calisti.</p>
                        <p class="p-split_margin2">Visit our team and say hi at these Cloud Native, Security, Community
                            and Industry Events.</p>

                        <div class="d-flex flex-wrap text-lable-gap-1 ">
                            <div class="d-flex flex-column flex-wrap ">
                                <p class="text-lable">When</p>
                                <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                    <img src="./img/calander.png" width="18px" height="20px" alt="">
                                    <p class="m-0">November 9, 2022</p>
                                </div>
                            </div>

                            <div class="d-flex flex-column flex-wrap ">
                                <p class="text-lable">When</p>
                                <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                    <img src="./img/arrow.png" width="18px" height="20px" alt="">
                                    <p class="m-0">Detroit, United States</p>
                                </div>
                            </div>
                        </div>

                        <a href="#"
                            class="common__btn-1 video__margin-top__button  responsive-btn text-decoration-none">
                            Register Now <img src="./img/cta.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" d-flex image__box-align">
                        <div class="videos_card_img main_img_block hero_animate">
                            <img src="./img/video image.png" alt="">
                            <div class="videos_card_img2 ">
                                <img src="./img//short_img.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="common_top_margin">
        <div class="container">
            <div class="row common-gap-mobile flex-row-reverse">
                <div class="col-md-6">
                    <div class="animate_text_box">
                        <h6>upcoming</h6>

                        <h3>Cloud Native Solutions Technical Workshop Series</h3>

                        <p class="p-split_margin">Join our expert solution architects for a free, 1-hour, hands-on
                            workshop to get started
                            using our latest cloud-native products, Panoptica & Calisti.</p>
                        <p class="p-split_margin2">Visit our team and say hi at these Cloud Native, Security, Community
                            and Industry Events.</p>

                        <div class="d-flex flex-wrap text-lable-gap ">
                            <div class="d-flex flex-column flex-wrap ">
                                <p class="text-lable">When</p>
                                <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                    <img src="./img/calander.png" width="18px" height="20px" alt="">
                                    <p class="m-0">November 9, 2022</p>
                                </div>
                            </div>

                            <div class="d-flex flex-column flex-wrap ">
                                <p class="text-lable">When</p>
                                <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                    <img src="./img/arrow.png" width="18px" height="20px" alt="">
                                    <p class="m-0">Detroit, United States</p>
                                </div>
                            </div>
                        </div>

                        <a href="#"
                            class="common__btn-2 video__margin-top__button  responsive-btn text-decoration-none">
                            Register Now <img src="./img/cta.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" d-flex image__box-align2 ">
                        <!---also change justify-content-end to justify-content-start-->
                        <div class="videos_card_img main_img_block">
                            <img src="./img/video image2.png" alt="">
                            <div class="videos_card_img2 left_45 ">
                                <!---add this "left_45" class when you  reverse the column-->
                                <img src="./img//short_img.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="common_top_margin bg_brand_sec">

        <div class="container container-xxl">
            <div class="heading__text_videos ">
                <h6>OUR PARTNERS</h6>
                <h3 class="mx-auto text-center">Our Top Genaral Sponsors.</h3>
                <p>There arge many variations ohf passages of sorem gp ilable, <br> but the majority have ssorem gp
                    iluffe.
                </p>
            </div>
            <div class="row common-gap-mobile justify-content-center align-items-center">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="mx-auto d-flex justify-content-center">
                        <img class="brand_partner" src="./img/image 19.png" alt="" srcset="">
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="mx-auto d-flex justify-content-center">
                        <img class="brand_partner" src="./img/image 20.png" alt="" srcset="">
                    </div>
                </div>

                <div class="col-lg-2  col-md-6  col-sm-6">
                    <div class="mx-auto d-flex justify-content-center">
                        <img class="brand_partner" src="./img/image 21.png" alt="" srcset="">
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="mx-auto d-flex justify-content-center">
                        <img class="brand_partner" src="./img/image 22.png" alt="" srcset="">
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="mx-auto d-flex justify-content-center">
                        <img class="brand_partner" src="./img/image 23.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="common_top_margin">
        <div class="container">
            <hr>
            <h3 class="Recent_event_head">Recent Events</h3>
            <div class="row common-gap-mobile">

                <div class="col-md-6">
                    <div class="bottom_card">
                        <div class="bottom__card-img">
                            <img src="./img/card bottom.png" alt="">
                        </div>
                        <div class="bottom_card-text">

                            <h3>Cloud Native Solutions Technical Workshop Series</h3>

                            <div class="d-flex flex-wrap  text-lable-gap_card ">
                                <div class="d-flex flex-column flex-wrap ">
                                    <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                        <img src="./img/calander.png" width="18px" height="20px" alt="">
                                        <p class="m-0">November 9, 2022</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-wrap ">
                                    <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                        <img src="./img/arrow.png" width="18px" height="20px" alt="">
                                        <p class="m-0">Detroit, United States</p>
                                    </div>
                                </div>
                            </div>
                            <p>Join our expert solution architects for a free, 1-hour, hands-on workshop to get started
                                using our latest cloud-native products, Panoptica & Calisti.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bottom_card">
                        <div class="bottom__card-img">
                            <img src="./img/card bottom2.png" alt="">
                        </div>
                        <div class="bottom_card-text">

                            <h3>Cloud Native Solutions Technical Workshop Series</h3>

                            <div class="d-flex flex-wrap  text-lable-gap_card">
                                <div class="d-flex flex-column flex-wrap ">
                                    <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                        <img src="./img/calander.png" width="18px" height="20px" alt="">
                                        <p class="m-0">November 9, 2022</p>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-wrap ">
                                    <div class="d-flex flex-wrap icon_text_gap align-items-center">
                                        <img src="./img/arrow.png" width="18px" height="20px" alt="">
                                        <p class="m-0">Detroit, United States</p>
                                    </div>
                                </div>
                            </div>
                            <p>Join our expert solution architects for a free, 1-hour, hands-on workshop to get started
                                using our latest cloud-native products, Panoptica & Calisti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollToPlugin.min.js"></script>

    <script src="./js/animation.js"></script>


</body>

</html>