.white {
    color: var(--white);
}

.blue {
    color: #0f95e2;
}

.gray {
    color: #c7ccd0;
}

* {
    padding: 0;
    margin: 0;
}

.index-navbar {
    height: 9.12rem !important;
    background: #ffffff !important;
    box-shadow: 0px 4px 1.25rem rgba(1, 47, 73, 0.15) !important;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 150px !important;
    padding-left: 150px !important;
}
.index-btn {
    background: #0f95e2;
    border-radius: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 167.77%;
    /* identical to box height, or 34px */
    width: 220px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fbfeff;
}
* {
    font-family: "Open Sans", sans-serif;
}
.index-link {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 167.77%;
    /* identical to box height, or 34px */

    text-align: center;
    text-transform: uppercase;

    color: #2d2d2d;
}
.index-link-active {
    font-weight: 700;
    font-size: 1.25;
    line-height: 167.77%;
    /* identical to box height, or 34px */

    text-align: center;
    text-transform: uppercase;

    color: #0f95e2 !important;
}
.index-ul {
    gap: 35px;
}

.contact-us {
    background-image: url(images/section1-bg.png);
    background-size: cover;
    padding: 0px 145px;
    height: 1452px;
}

.contact-us .contact-row h1 {
    margin-top: 110px;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    color: #ffffff;
}

.contact-us .contact-row p {
    font-weight: 400;
    font-size: 38px;
    line-height: 160%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 220px;
}

.card-row .card {
    padding: 30px 30px;
    height: 485.91px;
    border-radius: 20px;
}

.card-title {
    font-weight: 700;
    font-size: 26.0017px;
    line-height: 130%;
    text-align: center;
}

.card-subtitle {
    font-weight: 700;
    font-size: 19.5012px;
    line-height: 130%;

    color: #2d2d2d;
}

.card-row .card .contact-open-map {
    position: absolute;
    bottom: 28px;
}

.contact-form-section {
    background-image: url(images/contact-form.png);
    background-size: cover;
    background-repeat: none;
    padding: 0px 145px;
    height: max-content;
}

.gradient {
    background-color: #344767;
    opacity: 0.3;
}

.contact-form-section .card {
    margin-top: 290px;
}

.contact-form-section .card h5 {
    font-weight: 700;
    font-size: 38.2376px;
    line-height: 140%;
    color: #344767;
}

.card-header {
    background-color: #ffffff;
}

.contact-form {
    color: #c7ccd0;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid;
    border-color: #c7ccd0;
}

.contact-form-section .contact-form-card {
    margin-left: 12%;
    border-radius: 20px;
    margin-top: 210px;
    z-index: 1;
    padding: 45px;
}
