.hero_banner .bg_img {
    width: 100%;
    height: auto;
    background-image: url("../img/Landing-page-0.3.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 74px 0;
}
.hero_banner .banner_heading h1,
.hero_banner .banner_heading p {
    color: #fff;
}

/* 50-50-up-comp */
/* .comp_50_50 {

} */

/* acrodian */

.accordi-comp-4_btn {
    background: none;
    height: 84px;
    box-shadow: none;
}
.accordi-comp-4_btn:not(.collapsed) {
    color: unset !important;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordi-comp-4_btn:focus {
    background: unset;
}

.accordion {
    width: 100%;
    /* margin: 100px auto; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: all 0.3s ease-in-out;
}
.item {
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 24px 5px;
    align-items: center;
    column-gap: 24px;
    transition: all 0.3s ease-in-out;
    row-gap: 32px;
}
.item.open {
    border-bottom: 0;
    transition: all 0.3s ease-in-out;
}
.number {
    color: #fff;
    font-size: 5px;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: #087f5b;
    cursor: pointer;
}
.hidden-box {
    grid-column: 2;
    display: none;
}
.hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
}
.hidden-box ul {
    color: #868e96;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}
.open {
    border-top: 4px solid #d81159;
    /*       border-bottom: 1px solid lightgray;
      border-right: 1px solid lightgray;
      border-left: 1px solid lightgray; */
    background: #ffffff;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.05);
}
.open .number,
.open div .text {
    color: #087f5b;
}
.open .number {
    color: #fff;
    font-size: 5px;
}
.open .hidden-box {
    display: block;
}
.icon-rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}

/* accrodian slider */
.services-title-main {
    z-index: 2;
}
.services-title {
    position: sticky;
    top: 0;
}
.service-list {
    counter-reset: my-sec-counter;
    margin-top: 5rem;
    list-style: none;
}
.service-list li:not(:last-child) {
    margin-bottom: 3rem;
    display: block;
}
.tile.tile--service {
    padding: 45px 30px;
    box-shadow: -0.7px 2.9px 53.8px 0 rgb(0 0 0 / 16%);
    border-radius: 14px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    width: 145%;
}
.tile.tile--service .icn {
    width: 38px;
    height: 38px;
    display: flex;
    margin-right: 27px;
}

.home-services-inners {
    height: 60vh;
}

.home-services-inners {
    position: sticky;
    top: 12vw;
    left: 0;
    height: 70vh;
    background-color: #1c315b;
    overflow: hidden;
}
section .container {
    overflow: visible;
}
@media (min-width: 1600px) {
    .home-services-inners .services-content {
        padding: 8% 5.5% 8% 20%;
    }
}
.home-services-inners .services-content {
    padding: 60px 30px 60px 18%;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
    top: 0;
    color: #fff;
}

.home-services-inners .services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
