@media (max-width: 450px) {
    * {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .sm-p-1 {
        text-align: justify;
    }
    .lg-head-title-1,
    .lg-head-title-1 span {
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
    }
    .lg-head-title-1 {
        font-size: 2.5rem;
    }
    .sm-title-1 {
        text-align: center;
    }
    .lg-head-3 {
        line-height: 2.5rem;
        margin-top: 1rem;
    }
    .button-margin-top {
        margin: auto !important;
        margin-top: 3.125rem !important;
    }
    .case-study-card:hover::after {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        content: "STUDY IT";
        width: 300px;
        height: 72px;
        border: 1px solid #ffffff;
        border-radius: 19px;
        background: transparent;
        align-items: center;
        justify-content: center;
        transform: translate(10%, -150px);
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;

        color: #fff;
        cursor: pointer;
    }
}
