@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    transition: all 0.8s ease-in-out;
}
body {
    padding-top: 1.25rem;
}

.nav-link.active {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #3e6aff !important;
    border-bottom: 0.0625rem solid #3e6aff;
}
.nav-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    /* identical to box height */

    color: #293b47 !important;
}

.sm-title-1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1.0445rem;
    line-height: 1.5625rem;
    /* identical to box height */

    letter-spacing: 0.29em;
    text-transform: uppercase;

    color: #063658;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.lg-head-title-1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 3.5812rem;
    line-height: 4.5rem;
    /* or 125% */

    letter-spacing: -0.06em;
    text-transform: capitalize;
    color: #063658;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.lg-head-title-1 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 3.5812rem;
    line-height: 4.5rem;
    /* or 125% */

    letter-spacing: -0.1em;
    text-transform: capitalize;
    color: #3e6aff;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.sm-p-1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8125rem;
    /* or 179% */

    text-align: justify;

    color: #768996;
}

button {
    box-sizing: border-box;

    /* Auto layout */
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5756rem;

    width: 14.6237rem;
    height: 3.3575rem;

    border: 0.0575rem solid #097aff;
    border-radius: 1.2068rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9205rem;
    line-height: 1.375rem;
    /* identical to box height */

    text-transform: uppercase;

    color: #097aff;
}
.section-margin-top {
    margin-top: 4.6875rem;
}

.button-margin-top {
    margin-top: 2.875rem;
}

.lg-head-2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    text-align: center;
    text-transform: capitalize;

    color: #063658;
}
.lg-head-2 span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    text-align: center;
    text-transform: capitalize;

    color: #3e6aff;
}

.text-justify {
    text-align: justify !important;
}
.wrappers-text-div {
    position: relative;
}
.text-bg-img::before {
    position: absolute;
    width: 100%;
    height: 23%;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../img/lf30_editor_p6rpf9nb.gif);
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    transform: translate(0%, 0%);
    background-position-x: 86%;
    background-position-y: -1.5625rem;
}

.sectiom-2-margin-top {
    margin-top: 12.3125rem;
}
.case-study-card {
    height: 100%;
    width: 100%;
    border-radius: 19px;
    transition: 1s all ease-in-out;
    cursor: pointer;
}
.case-study-card::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 19px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #3e6aff 100%, rgba(217, 217, 217, 0) 100%), url();
    border-radius: 19px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.case-study-card:hover::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 1.1875rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)), url(.jpg);
    border-radius: 1.1875rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.case-study-card:hover::after {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    content: "STUDY IT";
    width: 300px;
    height: 72px;
    border: 1px solid #ffffff;
    border-radius: 19px;
    background: transparent;
    align-items: center;
    justify-content: center;
    transform: translate(20%, -150px);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;

    color: #fff;
    cursor: pointer;
}
.sm-title-2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    /* or 150% */

    color: #063658;
}
.sm-p-2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    /* identical to box height, or 171% */

    color: #a7a7a7;
}
.sm-title-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem;
    gap: 0.5rem;
}
.bg-container {
    background-image: url(../img/bg-doted.png);
    background-repeat: no-repeat;
    background-position-y: -15%;
    background-size: 100%;
}
.lg-head-3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.75rem;
    /* identical to box height, or 78% */

    text-transform: capitalize;

    color: #063658;
}
.sm-p-3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    /* or 175% */

    text-transform: capitalize;

    color: #768996;
}
.head-gif-prante::before {
    position: absolute;
    width: 10%;
    height: 30%;
    content: "";
    transform: translate(-3.9375rem, -65px);
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-image: url(../img/lf30_editor_p6rpf9nb.gif);
    box-sizing: border-box;
}

.margin-top {
    margin-top: 15%;
}
.bg-theme-1 {
    background: #063658;
    padding-top: 51px;
    padding-bottom: 51px;
}
a {
    text-decoration: none;
}
a:hover {
    color: unset !important;
}
.opacity-5 {
    opacity: 0.5;
}
.a-p-1 {
    position: relative;
}
