<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="./blog-up4.css">

    <title>4-up-tiles</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-12">
                    <div class="blog__slider-text">
                        <h3 class="text-left">Development</h3>
                    </div>
                </div>
      
               
            </div>
        </div>
        <div class="Slider__bar">
         <div class="container margin-top-slider overflow-hidden">
            <div  id="blog__card" class="row ">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4  h">
                    <div  class="blog__card">
                        <div class="blog__card_img">
                            <div class="main__img">
                                <img src="./img/Mask group.png" width="100%" height="100%" alt="">
                            </div>
                            <div class="imge__text">
                                <div class="author__img">
                                    <img src="./img/Mask group.png" width="100%" alt="">
                                </div>
                                <div class="d-flex flex-column ">
                                    <p class="m-0">Prasenjit Sarkar</p>
                                    <p class="m-0">Thursday, May 5th, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__text-box">
                            <div class="card__lable-text">
                                <p>Development</p>
                                <p>API Security</p>
                                <p>Kubernetes</p>
                            </div>
                            <div class="card__title ">
                                <h4>Adding a Virtual Machine to the Mesh Using Calisti</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            </div>
                        </div>
                    </div>
            
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4  ">
                    <div class="blog__card">
                        <div class="blog__card_img">
        
                            <div class="main__img">
                                <img src="./img/Mask group.png" width="100%" height="100%" alt="">
                            </div>
                            <div class="imge__text">
                                <div class="author__img">
                                    <img src="./img/Mask group.png" width="100%" alt="">
                                </div>
                                <div class="d-flex flex-column ">
                                    <p class="m-0">Prasenjit Sarkar</p>
                                    <p class="m-0">Thursday, May 5th, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__text-box">
                            <div class="card__lable-text">
                                <p>Development</p>
                                <p>API Security</p>
                                <p>Kubernetes</p>
                            </div>
                            <div class="card__title ">
                                <h4>Adding a Virtual Machine to the Mesh Using Calisti</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            </div>
                        </div>
                    </div>
            
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4   ">
                    <div class="blog__card">
                        <div class="blog__card_img">
        
                            <div class="main__img">
                                <img src="./img/Mask group.png" width="100%" height="100%" alt="">
                            </div>
                            <div class="imge__text">
                                <div class="author__img">
                                    <img src="./img/Mask group.png" width="100%" alt="">
                                </div>
                                <div class="d-flex flex-column ">
                                    <p class="m-0">Prasenjit Sarkar</p>
                                    <p class="m-0">Thursday, May 5th, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__text-box">
                            <div class="card__lable-text">
                                <p>Development</p>
                                <p>API Security</p>
                                <p>Kubernetes</p>
                            </div>
                            <div class="card__title ">
                                <h4>Adding a Virtual Machine to the Mesh Using Calisti</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            </div>
                        </div>
                    </div>
            
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4    ">
                    <div class="blog__card">
                        <div class="blog__card_img">
        
                            <div class="main__img">
                                <img src="./img/Mask group.png" width="100%" height="100%" alt="">
                            </div>
                            <div class="imge__text">
                                <div class="author__img">
                                    <img src="./img/Mask group.png" width="100%" alt="">
                                </div>
                                <div class="d-flex flex-column ">
                                    <p class="m-0">Prasenjit Sarkar</p>
                                    <p class="m-0">Thursday, May 5th, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__text-box">
                            <div class="card__lable-text">
                                <p>Development</p>
                                <p>API Security</p>
                                <p>Kubernetes</p>
                            </div>
                            <div class="card__title ">
                                <h4>Adding a Virtual Machine to the Mesh Using Calisti</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
                 </div>
         </div>
    
    </section>






   

    <script>
          const buttonRight = document.getElementById('slideRight');
    const buttonLeft = document.getElementById('slideLeft');

    buttonRight.onclick = function () {
      document.getElementById('blog__card').scrollLeft += 100;
      document.getElementById('blog__card').setAttribute(" transition: all 0.3s ease;")
    };
    buttonLeft.onclick = function () {
      document.getElementById('blog__card').scrollLeft -= 100;
    };
    </script>
    </body>
    </html>